<!DOCTYPE html>
<html lang="en">
   <!-- Basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <!-- Site Metas -->
   <title>Top score Sports|Cricket |Archery|Bowling machine</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Site Icons -->
   <link rel="shortcut icon" href="" type="image/x-icon" />
   <link rel="apple-touch-icon" href="">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <!-- Site CSS -->
   <link rel="stylesheet" href="style.css">
   <!-- Colors CSS -->
   <link rel="stylesheet" href="css/colors.css">
   <!-- ALL VERSION CSS -->	
   <link rel="stylesheet" href="css/versions.css">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="css/responsive.css">
   <!-- Custom CSS -->
   <link rel="stylesheet" href="css/custom.css">
   <!-- font family -->
   <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
   <!-- end font family -->
   <link rel="stylesheet" href="css/3dslider.css" />
   <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
   <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

<!----Scoreboard library-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="js/style.css">  
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!----Scoreboard library-->


   <script src="js/3dslider.js"></script>
   </head>
   <body class="game_info" data-spy="scroll" data-target=".header" ng-app="myApp">
      <!-- LOADER -->
      <div id="preloader">
         <img class="preloader" src="images/loading-img.gif" alt="">
      </div>
      <!-- END LOADER -->
      <section id="top">
         <header>
            <div class="container bg-dark">
               <div class="header-top">
                  <div class="row " style="background-color: red">
                     <div class="col-md-6">
                        <div class="full">
                           <div class="logo">
                              <a href="index.html"><img src="images/logo1.png" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="right_top_section">
                           <!-- social icon -->
                           <ul class="social-icons pull-left">
                              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                              <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                           </ul>
                           <!-- end social icon -->
                           <!-- button section -->
                           <ul class="login">
                              <li class="login-modal">
                                 <a href="#" class="login"><i class="fa fa-user"></i>Login</a>
                              </li>
                              
                           </ul>
                           <!-- end button section -->
                        </div>
                     </div>
                  </div>
               </div>
               
         </header>       
         
      </section>

<form  id="demo" class="form-group"  method="post" action="challenge1.php" style="margin-top:140px">

   <div class="container-fluid" id="score" >
               
      <div class="row">
         <div class="col-lg-4">
                 <span class="text text-primary">Date:-<input type="date" name="date" id="date" ></span></td>
                        
             </div>   
                        <div class="col-lg-4 text-bottom">
                       <h2><select name="venue">
                              <option value="DHI Ionnovation" >DHI Ionnovation </option>
                                              
                              </select>
                        </h2>
                       </div>

                       <div class="col-lg-4">

                            
                                 <h4> <input type="text" name="balls" size="3"> Over's Challenge</h4>
                       </div>      
                 
                           
                  
      </div>

            
               <center><table>
                  <tr><td>
                <label class="inputsm text-black text-center"><i class="fa fa-user icon" style="font-size: 30px"></i> </label></td>
               <td> <input class="form-control input-sm" id="input1" type="text" ng-model="name" name="name" required autocomplete="off" placeholder="Enter Name"></td>
                           
               <td> <label class=" text-black text-center"><i class="fa fa-mobile" style="font-size: 30px"></i></label></td>
               <td> <input class="form-control" id="inputdefault" type="text" name="number" required autocomplete="off" placeholder="Mobile Number"></td>
               <td> <label class=" text-black text-center"><i class="fa fa-map-marker" style="font-size: 30px"></i></label></td>
               <td> <input class="form-control input-sm" id="inputsm" type="text" name="city" placeholder="City" required autocomplete="off"></td>
              </tr>
               
            </table></center>
               
            </table></center>
               
               
      <div id="demo1" >

         <h2 class="text-center ">SCORE BOARD</h2>
         <table class="table table-hover"><tr class=" text-body  bg-dark"><th>PLAYER NAME</th><th >SCORE</th><th>Balls</th><th>4'S</th><th>6'S</th></tr>
      <tr class="text-white text-center bg-dark">
         <td><span>{{name}}</span></td>
         <td><span>{{count1+count2+count3+count4+count5+count6}}</span></td>
         <td><span id="over1" name="over1"></span></td>
         <td><span>{{count5/4}}</span></td>
         <td><span>{{count6/6}}</span></td>
                  
      </tr>
      <tr style="border: 0">
         <td><input type="hidden" name="score" ng-value='count1+count2+count3+count4+count5+count6'></td>
         <td><input type="hidden" name="over" id="over" ng-value="count"></td></tr>
            <td><input type="hidden" name="four" id="four" ng-value='count5/4' size="2"></td>
      <td><input type="hidden" name="six" id="six" ng-value='count6/6' size="2"></td>
         </table>
         


                  <div class="container-fluid row">
                                             <div class="col-md-4">
                                       <h3 class="">SCORE CARD</h3>
                                       
                                             </div>
   <div class="col-md-8 text-center" id="side1">

                                       
<table>
<tr>
<td><input id="total" name="score" onclick="dragen1()"   type="button" class="btn btn-md w3-teal w3-circle"  ng-click="count1 = count1 + 0"  ng-init="count1=0" value="0" ng-value="0"></td>
<td><input name="score"  type="button" class="btn btn-md btn-primary w3-circle"   onclick="dragen2()" ng-click="count2 = count2 + 1" ng-init="count2=0" value="1" ng-value="1" id="total"></td>
<td><input  name="score" type="button" class="btn btn-md w3-pink w3-circle" onclick="dragen3()" ng-click="count3 = count3 + 2" ng-init="count3=0" value="2"></td>
<td><input id="total" name="score"  type="button" class="btn btn-md w3-red w3-circle" onclick="dragen4()" ng-click="count4 = count4 + 3" ng-init="count4=0" value="3"></td>
<td><input id="total" name="score"  type="button" class="btn btn-md w3-orange w3-circle" onclick="dragen5()" ng-click="count5 = count5 + 4" ng-init="count5=0" value="4"></td>
<td><input id="total" name="score" type="button" class="btn btn-md w3-red  w3-circle" onclick="dragen6()" ng-click="count6=count6+6" ng-init="count6=0" value="6"></td>
<td><input name="score" type="button" class="btn btn-md w3-yellow w3-circle"  ng-click="count1 = count1 - 1"  value="Undo"></td>
         
</tr>

<tr>
   <td><input name="score" type="button" class="btn btn-md w3-teal w3-circle"  ng-click="count1 = count1 + 1"  value="Wide" onclick="Wide()"></td>
   <td><input name="score" type="button" class="btn btn-md w3-blue w3-circle"  ng-click="count1 = count1 + 1"  value="NB" onclick="Nb()"></td>
   <td><input name="score" type="button" class="btn btn-md w3-pink w3-circle"  ng-click="count1 = count1 + 1"  value="Bye" onclick="Bye()"></td>
   <td><input name="score" type="button" class="btn btn-md w3-red w3-circle"  ng-click="count1 = count1+1"  value="LB" onclick="LB()"></td>
   <td><input name="score" type="button" class="btn btn-md w3-orange w3-circle"  ng-click="count1 = count1-5"  value="Wicket" onclick="Wicket()"></td>
</tr>
</table>
</div> 
</div> <br>




                  <div class="container-fluid row">
                        <div class="col-md-2">
                           <h3 class="text-body">SUMMARY</h3>
                           
                        </div>


                        <div class="col-md-10">
                                             
                                                
                                                   
               <center><table class="table">
                     <tr><th>score</th><th>Half</th><th>Leg</th></tr>
                     <tr ><td id="total">{{count1+count2+count3+count4+count5+count6}}</td>
                        <td type="hidden" name="half" id="half1">{{count7}}-Boundry</td>
                        <td type="hidden" name="leg" id="leg1" class="mine">{{count8}}-Boundry</td>
                        <td><input type="hidden" id="half" name="half" ng-value="count7" size="4"></td>
                        <td><input type="hidden" id="leg" name="leg" ng-value="count8" size="4"></td>
                     </tr>

                     
                     </table></center>
                                                
                                                

                           </div>
                     
                  </div>





<div class="container-fluid row">




                        <div class="col-md-12">
                              <table>
                                   <tr id="myRow">
                                    
                                   </tr>
                                 </table><br>               
                                                
                                                   
                                                   
                                                

                           </div>
                     
                  

   
</div>

                            
                           
      <div class="row text-center" id="footer" >
                                    
            <div class="col-md-12 text-center" style="left: 40%"><button class="btn btn-info" type="submit" > Game Over</button>
            </div>
                                       
                                       
                                          
      </div>

</div>

      </form>



<!--
<div class="container" id="test2">
  <div class="row bg-success rounded-circle " style="width:400px;height:400px">
  
  <div class="bg-white " style="height:100px;width:25px;margin-left:180px;margin-top:150px">
  
  <div class="rounded-circle" style="width:300px;height:300px;border:2px solid white; margin-left:-125px;margin-top:-100px"> </div>

      <div class="text text-body" style="margin-left:90px;margin-top:-300px">

          <i id="line6" class="fa fa-child" style="font-size:24px"  ng-click="count7 = count7+1" ng-init="count7=0" ></i>
            </div>
            <div class="text text-body" style="margin-left:150px;margin-top:60px">
           <i id="line5" class="fa fa-child" style="font-size:24px" ng-click="count7 = count7 +1" ng-init="count7=0"></i>
            </div><br><br>
            <div class="text text-body" style="margin-left:170px;margin-top:210">
            <i  id="line0" class="fa fa-child" style="font-size:24px" ng-click="count7 = count7 +1" ng-init="count7=0"></i>
            </div><br><br>
            <div class="text text-body" style="margin-left:140px;margin-top:30px;">
            <i   id="line2" class="fa fa-child" style="font-size:24px" ng-click="count7 = count7 +1" ng-init="count7=0"></i>
            </div>


            <div class="text text-body" style="margin-left:-110px;margin-top:-260px">
           <i id="line7" class="fa fa-child" style="font-size:24px" ng-click="count8 = count8 +1 " ng-init="count8=0"></i>
            </div>
            <div class="text text-body" style="margin-left:-140px;margin-top:90px">
           <i id="line4" class="fa fa-child" style="font-size:24px" ng-click="count8 = count8 +1" ng-init="count8=0"></i>
            </div>
            <div class="text text-body" style="margin-left:-150px;margin-top:40px">
           <i id="line1" class="fa fa-child" style="font-size:24px" ng-click="count8 = count8 +1 " ng-init="count8=0"></i>
            </div>
            <div class="text text-body" style="margin-left:-100px;margin-top:60px">
          <i  id="line3" class="fa fa-child" style="font-size:24px" ng-click="count8 = count8 +1" ng-init="count8=0"></i>
            </div>


            
            <div class="text text-body" style="margin-left:-70px;margin-top:-160px">
          <i  id="line9" class="fa fa-child" style="font-size:24px" ng-click="count8 = count8 +1" ng-init="count8=0"></i>
            </div>


               111<div class="text text-body" style="margin-left:80px;margin-top:20px">
           <i id="line10" class="fa fa-child" style="font-size:24px" ng-click="count7 = count7 +1" ng-init="count7=0"></i>
            </div>
         
            
          
  </div>
    
  </div>
</div>-->


   <div class="demo2" id="test2">
   </div>
   
   <div class="demo3" id="test2">
   </div>








     
      
      <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
      <!-- ALL JS FILES -->
      <script src="js/all.js"></script>
      <!-- ALL PLUGINS -->
      <script src="js/custom.js"></script>

<script type="text/javascript" src="js/script1.js"></script>
<script type="text/javascript" src="js/script.js"></script>

   </body>
</html>